<app-header></app-header>
<main>
  <!-- Encabezado -->
  <section class="presentation">
    <div class="content-wrapper">
      <!-- Título -->
      <div class="title-container">
        <h1>ARTE</h1>
        <div id="text_dinamic"><!--Animacion texto dinamico carrucel vertical-->
          <div id="flip">
            <div><div>DISEÑO</div></div>
            <div><div>CREATIVIDAD</div></div>
            <div><div>DESARROLLO</div></div>
          </div>
        </div>
        <h3>PORTAFOLIO</h3>
        <br>
        <p>
          ¡Hola! Bienvenido<br>
          Soy Esteban Martínez
          <!-- Icono emoji feliz :)-->
          <img src="https://media.tenor.com/tuvQ0qq5iDUAAAAi/flying-bee-pixel-art.gif"
          alt="bee" width="27" height="27">
        </p>
      </div>

      <!-- Botón YouTube -->
      <div class="button-container">
        <!--Enlase e imagen-->
        <a href="https://www.youtube.com/@EMestebanmartinez" target="_blank" title="Canal de YouTube">
          <img alt="YouTube Button" src="/assets/img/avatar.webp" class="yt-avatar-button">
        </a>
        <!--Imagen de flecha e invitación-->
        <img alt="arrow" src="/assets/icons/arrow.webp" class="yt-arrow-button" width="50px" height="auto">
        <p class="button-info">Visita mi canal de <br><strong>YouTube</strong></p>
      </div>
    </div>
  </section>

  <!-- Contenido proyectos/ TARJETAS-->
  
</main>
