<!--Header-->
<header class="header">
  <div class="header-container">
    <!--Logo-->
    <div class="logo">
      <a href="#inicio"><img src="assets/img/logo.webp" alt="logo_EstebanM" title="Logo Esteban Martínez Sánchez" /></a>
      <p>{{ 'HEADER.ROLE' | translate }}</p>

    </div>
    <!-- BOTÓN MENÚ HAMBUERGUESA-->
     <button class="menu" (click)="toggleMenu()" [class.active]="menuAbierto" aria-label="Menu">
      <span></span>
      <span></span>
      <span></span>
     </button>
    <!-- Boton Contacto-->
    <nav class="nav" [class.active]="menuAbierto">
      <ul class="nav-links">
        <li>
          <a href="#sobre-mi" (click)="cerrarMenu()">
            {{ 'HEADER.ABOUT' | translate }}
          </a>
        </li>

        <li>
          <a href="#proyectos" (click)="cerrarMenu()">
            {{ 'HEADER.PROJECTS' | translate }}
          </a>
        </li>

        <li (click)="cerrarMenu()">
          <a
            href="mailto:martinezsanchezesteban15@gmail.com"
            class="btn-contacto"
            title="Ir a contacto"
          >
            {{ 'HEADER.MAIL' | translate }}
          </a>
        </li>
      </ul>

      <!-- Switch de idioma separado visualmente -->
      <div class="lang-switch" aria-label="Language selector">
        <button
          (click)="changeLang('es')"
          [class.active]="currentLang === 'es'">
          ES
        </button>
        <span class="divider">/</span>
        <button
          (click)="changeLang('en')"
          [class.active]="currentLang === 'en'">
          EN
        </button>
      </div>
    </nav>

  </div>
</header>

<!-- Overlay fuera del header-container -->
<div class="nav-overlay" [class.active]="menuAbierto" (click)="cerrarMenu()"></div>

