<section class="text-imagination">
  <!--<svg viewBox="0 0 38 34" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g filter="url(#filter0_d_69_115)">
        <path d="M9.7375 26L12.175 16.3868L4 9.92105L14.8 9.06579L19 0L23.2 9.06579L34 9.92105L25.825 16.3868L28.2625 26L19 20.9026L9.7375 26Z" fill="#FEBA5F"/>
      </g>
    <defs>
      <filter id="filter0_d_69_115" x="0" y="0" width="40" height="40" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix"/>
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
      <feOffset dy="4"/>
      <feGaussianBlur stdDeviation="2"/>
      <feComposite in2="hardAlpha" operator="out"/>
      <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
      <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_69_115"/>
      <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_69_115" result="shape"/>
      </filter>
    </defs>
    </svg>-->

  <h2>
    SOBRE MI
  </h2>
  <p>
    Soy Esteban Martínez, diseñador UI/UX & desarrollador Front-end.
    También soy artista plástico, me encanta dibujar y dar vida por medio del lápiz y el papel.
    Soy de Bogotá 
  </p>
  <img class="img1" src="assets/img/img1.png" alt="Stickerst">
  <img class="img2" src="assets/img/img2.png" alt="Stickerst">
  <img class="img3" src="assets/img/img3.png" alt="Stickerst">
  <img class="img4" src="assets/img/img4.png" alt="Stickerst">
  <!--<svg viewBox="0 0 38 34" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g filter="url(#filter0_d_69_115)">
        <path d="M9.7375 26L12.175 16.3868L4 9.92105L14.8 9.06579L19 0L23.2 9.06579L34 9.92105L25.825 16.3868L28.2625 26L19 20.9026L9.7375 26Z" fill="#FEBA5F"/>
      </g>
    <defs>
      <filter id="filter0_d_69_115" x="0" y="0" width="40" height="40" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix"/>
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
      <feOffset dy="4"/>
      <feGaussianBlur stdDeviation="2"/>
      <feComposite in2="hardAlpha" operator="out"/>
      <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
      <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_69_115"/>
      <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_69_115" result="shape"/>
      </filter>
    </defs>
    </svg>-->
</section>