<section class="text-imagination">
  <div class="imagination-container">
    <!--<div class="video-box">
      <video #miVideo src="assets/video/Fantastic four short.mp4" muted loop playsinline></video>
      <button (click)="toggleVideo(miVideo)">
        {{ videoPausado ? '▶' : '⏸ ' }}
      </button>
    </div>-->

    <div class="text-box">
      <h2 class="item" data-aos="fade-up">SOBRE MI</h2>
      <p>
        Soy Esteban Martínez, diseñador UI/UX & desarrollador Front-end.
        También soy artista plástico, me encanta dibujar y dar vida por medio del lápiz y el papel.
        Soy de Bogotá.
      </p>

      <img class="img1" src="assets/img/img1.png" alt="Sticker">
      <img class="img2" src="assets/img/img2.png" alt="Sticker">
      <img class="img3" src="assets/img/img3.png" alt="Sticker">
      <img class="img4" src="assets/img/img4.png" alt="Sticker">
    </div>
  </div>
</section>
