$primary-color: #FEBA5F
$secondary-color: #FFD7A2
$bg-dark: #495B45
$text-light: #ffffff
$bg-presentacion: #983C3C
$orange: #F84D2E

.text-imagination
  position: relative
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  text-align: center
  width: 100%
  padding: 40px
  gap: 1rem

  h2
    color: $primary-color
    font-family: 'Peteroy', sans-serif
    line-height: 1.2
    opacity: 0
    animation: fadeUp 1s ease forwards
    display: flex
    align-items: center
    justify-content: center
    flex-wrap: wrap
    z-index: 2
    &::before, 
    &::after
      content: ''
      flex: 1
      height: 1px
      background: $primary-color
      margin: 0 1rem

  p
    color: $secondary-color
    font-size: 1.2rem
    max-width: 800px
    z-index: 2
  
  .img1
    position: absolute
    transform: rotate(40deg)
    top: 75%
    left: 19%
    width: 10%
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2))

  .img2
    position: absolute
    top: 1%
    left: 80%
    width: 15%
    transform: rotate(-35deg)
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2))
  .img3
    position: absolute
    top: 77%
    left: 50%
    width: 10rem
    transform: rotate(-35deg)
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2))
  .img4
    position: absolute
    top: 0
    left: 9%
    width: 15%
    transform: rotate(-35deg)
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2))
  

  @keyframes fadeUp
    from
      opacity: 0
      transform: translateY(30px)
    to
      opacity: 1
      transform: translateY(0)

// Responsive: pantallas medianas
@media screen and (max-width: 768px)
  .text-imagination
    padding: 40px
    h2
      font-size: 3rem
    p
      font-size: 1.3rem
    .img1
      position: absolute
      top: 85%
      left: 20%
      width: 8rem
      transform: rotate(15deg)
      opacity: 0.5
    .img2
      position: absolute
      top: 1%
      left: 80%
      width: 8rem
      opacity: 0.5
      
    .img3
      position: absolute
      top: 85%
      left: 75%
      width: 15rem
      opacity: 0.5
      
    .img4
      position: absolute
      top: 0
      left: 5%
      width: 8rem
      transform: rotate(15deg)
      opacity: 0.5

// Responsive: pantallas pequeñas (móviles)
@media screen and (max-width: 480px)
  .text-imagination
    padding: 40px
    h2
      font-size: 24px
    p
      font-size: 14px
    .img1
      position: absolute
      top: 80%
      left: 1%
      width: 6rem
      transform: rotate(15deg)
    .img2
      position: absolute
      top: 1%
      left: 80%
      width: 4rem
      
    .img3
      position: absolute
      top: 77%
      left: 65%
      width: 10rem
      
    .img4
      position: absolute
      top: 0
      left: 9%
      width: 5.2rem
      transform: rotate(15deg)
    
