<section class="text-imagination">
  <div class="imagination-container" >
    <!--<div class="video-box">
      <video #miVideo src="assets/video/Fantastic four short.mp4" muted loop playsinline></video>
      <button (click)="toggleVideo(miVideo)">
        {{ videoPausado ? '▶' : '⏸ ' }}
      </button>
    </div>-->

    <div class="text-box" id="sobre-mi" >
      <h2 class="item typewriter" data-aos="fade-up">
        <span>{{ 'ABOUT.TITLE' | translate }}</span>
      </h2>

      <p>
        {{ 'ABOUT.TEXT' | translate }}
      </p>

      <img class="img1" src="assets/img/img1.png" alt="Sticker">
      <img class="img2" src="assets/img/img9.png" alt="Sticker">
      <img class="img3" src="assets/img/img3.png" alt="Sticker">
      <img class="img4" src="assets/img/img4.png" alt="Sticker">
    </div>
  </div>
</section>
