<div class="layout">
    <div class="left-side">
    </div>
    <div class="right-side">
    </div>
    <app-navbar></app-navbar>
    
    <section class="target-container">
        <app-index></app-index>  
    </section>
    <app-footer></app-footer>
    <router-outlet />
</div>

<!-- BOTÓN DE WHATSAPP -->
 <a href="https://api.whatsapp.com/send/?phone=573194380965&text&app_absent=0/" class="whatsapp-float" target="_blank" rel="noopener noreferrer">
  <img src="https://img.freepik.com/vector-premium/diseno-iconos-whatsapp-redes-sociales-mensajeria_1303737-6449.jpg?semt=ais_hybrid&w=740&q=80" alt="WhatsApp" />
 </a>