$primary-color: #FEBA5F
$secondary-color: #FFD7A2
$bg-dark: #495B45
$text-light: #ffffff
$bg-presentacion: #983C3C
$orange: #F84D2E
  
.wrapper
  position: relative
  display: flex
  justify-content: center
  align-items: center
  margin: 0 auto
  height: 100vh
  .carousel
    display: flex
    justify-content: center
    gap: 2rem
    width: 80%
    padding: 2rem 4rem
    z-index: 3
    button
      font-size: 3rem
      margin: 0 1rem // ← espacio horizontal alrededor del botón
      background: none
      border: none
      cursor: pointer
      color: #F84D2E
    .carousel-section
      display: flex
      align-items: flex-start
      flex-wrap: wrap
      justify-content: space-between
      gap: 3rem
      width: 80%
      z-index: 3
      .info
        flex: 1

        h2
          font-size: 3rem
          color: $primary-color
          font-family: 'Peteroy', sans-serif
        .subtitle
          color: $secondary-color
          margin-bottom: 0.5rem
        p
          font-size: 1.2rem
          color: $secondary-color
        .info-list
          list-style: none
          padding: 0
          margin: 1rem 0
          li
            font-size: 1rem
            margin-bottom: 0.3rem
            color: $secondary-color
      @keyframes fadeSlideIn
        0%
          opacity: 0
          transform: translateY(20px)
        100%
          opacity: 1
          transform: translateY(0)
      .animate-info
        animation: fadeSlideIn 0.7s ease forwards

      .card-stack
        position: relative
        width: 300px
        height: 360px
        flex-shrink: 0

        .card
          position: absolute
          top: 0
          left: 0
          width: 100%
          height: 100%
          background: #000000
          border-radius: 12px
          box-shadow: 0 10px 20px rgba(0,0,0,0.2)
          cursor: pointer
          transition: all 0.5s ease
          overflow: hidden
          img
            width: 100%
            height: 100%
            object-fit: cover
        // Carta superior
      .card:nth-child(1)
        z-index: 3
        transform: translateY(0px) rotate(0deg)

      // Segunda carta, se asoma un poco
      .card:nth-child(2)
        z-index: 2
        transform: translate(25px, 25px) rotate(4deg)
        scale: 0.98

      // Tercera carta, aún más abajo
      .card:nth-child(3)
        z-index: 1
        transform: translate(35px, 35px) rotate(9deg)
        scale: 0.96

      .card:nth-child(4)
        z-index: 1
        transform: translate(25px, 25px) rotate(-10deg)
        scale: 0.96
  .img5
    position: absolute
    bottom: 0
    right: 45px
    width: 150px
    height: auto
    transform: rotate(15deg)
    z-index: 1
    opacity: 0.5
        
@media (max-width: 768px)
  .wrapper
    padding: 40px
    height: auto // para que no se corte en móviles

    .carousel
      display: flex
      align-items: center
      padding: 1rem

      button
        font-size: 4rem
        margin: 0.5rem
        z-index: 5

      .carousel-section
        flex-direction: column
        align-items: center
        width: 100%
        gap: 2rem

        .info
          h2
            font-size: 3rem
          p
            font-size: 1.3rem

        .card-stack
          width: 250px
          height: 300px

@media (max-width: 480px)
  .wrapper
    padding: 1.5rem
    height: auto // Evita que se corte
    flex-direction: column // Por si se mezcla con más contenido

    .carousel
    
      align-items: center
      justify-content: center
      width: 100%
      padding: 1rem 0
      gap: 2rem // Espacio entre botón y contenido

      button
        font-size: 2.5rem
        margin: 1rem 0
        z-index: 5
        padding: 0.5rem 1rem // Mejora el espacio táctil
        line-height: 1

      .carousel-section
        flex-direction: column
        align-items: center
        justify-content: center
        width: 100%
        gap: 2rem // Más espacio entre info y cards

        .info
          text-align: center
          padding: 0 1rem

          h2
            font-size: 24px
            margin-bottom: 0.5rem
          .subtitle
            text-align: left
            font-size: 15px
            margin-bottom: 0.5rem
          .info-list
            list-style: none
            text-align: left
            padding: 0
            margin: 1rem 0
            li
              font-size: 1rem
              margin-bottom: 0.3rem
              color: $secondary-color
          p
            font-size: 14px
            line-height: 1.4
            text-align: left

        .card-stack
          width: 180px
          height: 260px
    .img5
      bottom: 0
      left: 75%
      width: 100px
      height: auto