$primary-color: #FEBA5F
$secondary-color: #FFD7A2
$bg-dark: #495B45
$text-light: #ffffff
$bg-presentacion: #983C3C
$orange: #F84D2E
$bp-md: 600px
$bp-lg: 800px 

:root
  --d: 700ms
  --e: cubic-bezier(0.19, 1, 0.22, 1)

.page-content
  display: grid
  grid-gap: 1rem
  padding: 1rem
  max-width: 1024px
  margin: 0 auto
  
  @media (min-width: $bp-md)
    grid-template-columns: repeat(2, 1fr)

  @media (min-width: $bp-lg)
    grid-template-columns: repeat(4, 1fr)

.card
  position: relative
  display: flex
  align-items: flex-end
  overflow: hidden
  border-radius: 15px
  padding: 1rem
  width: 100%
  text-align: center
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1)

  @media (min-width: 600px)
    height: 350px

  &:before
    content: ""
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-size: cover
    background-position: center center
    transition: transform calc(var(--d) * 1.5) var(--e)
    pointer-events: none

  &:after
    content: ""
    display: block
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 200%
    pointer-events: none
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.79) 100%)
    transform: translateY(-50%)
    transition: transform calc(var(--d) * 2) var(--e)

  &:nth-child(1):before
    background-image: url(/assets/img/ellie.webp)

  &:nth-child(2):before
    background-image: url(/assets/img/cap.webp)

  &:nth-child(3):before
    background-image: url(/assets/img/halloween.webp)

  &:nth-child(4):before
    background-image: url(/assets/img/DESARROLLO.webp)

.content
  position: relative
  display: flex
  flex-direction: column
  align-items: center
  width: 100%
  padding: 1rem
  color: $secondary-color
  transition: transform var(--d) var(--e)
  z-index: 1
  transform: translateY(calc(100% - 4.5rem))

  > * + *
    margin-top: 1rem

  > *:not(.title)
    opacity: 0
    transform: translateY(1rem)
    transition: transform var(--d) var(--e), opacity var(--d) var(--e)

.title
  line-height: 1.2

.copy
  line-height: 1.35

@media (hover: hover) and (min-width: 600px)
  .card
    &:after
      transform: translateY(0)

    &:hover,
    &:focus-within
      align-items: center

      &:before
        transform: translateY(-4%)

      &:after
        transform: translateY(-50%)

      .content
        transform: translateY(0)

        > *:not(.title)
          opacity: 1
          transform: translateY(0)
          transition-delay: calc(var(--d) / 8)

    &:focus-within:before,
    &:focus-within:after,
    &:focus-within .content,
    &:focus-within .content > *:not(.title)
      transition-duration: 0s
