<app-text></app-text>
<!-- carousel de mis dibujos -->
<main class="wrapper">
  <div class="carousel">
    <img class="graffiti"src="assets/img/pink graffiti stain.png" alt="graffiti">
    <button (click)="prevSection()">⟨</button>
    <div class="carousel-section">
      <!-- INFO -->
      <div class="info" [ngClass]="{ 'animate-info': animateInfo }" >
        <h2>
           {{ ('CAROUSEL.SECTIONS.' + sections[currentSection]) | translate }}
        </h2>
        <h3 class="subtitle">
          {{ 'CAROUSEL.SUBTITLE' | translate }}
          {{
            ('CAROUSEL.SECTIONS.' + sections[currentSection])
              | translate
              | lowercase
          }}
        </h3>
        <p>
          {{
            'CAROUSEL.DESCRIPTION'
              | translate:{
                section: (
                  ('CAROUSEL.SECTIONS.' + sections[currentSection])
                    | translate
                    | lowercase
                )
              }
          }}
        </p>
        <!-- Lista de detalles adicionales -->
        <ul class="info-list">
          <li *ngIf="sections[currentSection] === 'DRAWINGS'">{{ 'CAROUSEL.DETAILS.DRAWINGS' | translate }}</li>
          <li *ngIf="sections[currentSection] === 'DRAWINGS'">{{ 'CAROUSEL.DETAILS.CRAFTS' | translate }}</li>
          <li *ngIf="sections[currentSection] === 'MURALS'">{{ 'CAROUSEL.DETAILS.MURALS' | translate }}</li>
        </ul>
      </div>

      <!-- IMÁGENES EN PILA (CARD STACK) -->
      <div class="card-stack">
        <div
          class="card"
          *ngFor="let img of images[sections[currentSection]]; let i = index"
          [class.active]="i === 0"
          [class.second]="i === 1"
          [class.third]="i === 2"
          [class.leaving]="leavingIndex === i"
          (click)="rotateCards(sections[currentSection])"
        >
          <img [src]="img" />
        </div>
      </div>
    </div>
    <img class="img5" alr="Stiker" src="assets/img/img5.png">
    <button (click)="nextSection()">⟩</button>
  </div>
</main>
<!-- contenido profecional -->
<app-projects></app-projects>


